.dishes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 98%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.dish {
    width: calc(25% - 10px);
    margin-bottom: 20px;
    background-color: #89634a;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    overflow: hidden;
    height: 400px;
    position: relative;
    cursor: pointer;
}

.legend-item {
    font-size: 20px;
    font-weight: 500;
}

@media only screen and (max-width: 1300px) {
    .dish {
        width: calc(33% - 10px);
    }
    .legend-item {
        display: none;
    }
}

@media only screen and (max-width: 900px) {
    .dish {
        width: calc(50% - 10px);
    }
}

.num-of-results {
    position: relative;
    margin-left: 1vw;
    font-size: 20px;
}

.dish-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    left: 0;
    top: 0;
    position: relative;
}

.dish:hover .dish-img {
    opacity: 0.25;
    transition: opacity 0.3s ease;
}

.dish:hover .ingredients-div{
    opacity: 1;
    transition: opacity 0.5s ease;
}

.dish:hover .food-style-div {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.dish:hover .src-btn {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.dish:hover .dish-title {
    background-color: transparent;
    transition: 0.5s ease;
}

.ingredients-div {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
}

.dish-subtitle {
    color: #000000;
    margin-top: 15px;
    font-size: 18px;
}

.food-style-div {
    position: absolute;
    top: 225px;
    left: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
}

.dish-title {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 10px;
    z-index: 1;
    background-color: rgba(137, 99, 74, 0.9);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 5px;
    width: 92.5%;
    margin: 0;
    font-size: 20px;
}

.dish ul {
    padding: 0;
    list-style-type: none;
}

.dish ul li {
    font-size: 16px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    background-color: #89634a;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}


.btn:hover {
    background-color: #6b4932;
    color: white;
    transition: 0.3s ease;
}

.loading {
    font-size: 30px;
    font-weight: bold;
    color: #333; /* You can adjust the color */
    text-align: center;
    margin-top: 20px; /* Adjust the margin as needed */
    margin-bottom: 5vh;
}

.src-btn {
    position: absolute;
    bottom: 20px;
    right: 10px;
    z-index: 2;
    opacity: 0;
}

.search-legend {
    position: absolute;
    right: 2vw;
    top: -2vh;
}

.num-results-container {
    position: relative;
}

/* dish page */
.dish-page-title {
    color:black;
}

.dish-page-image {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
}

.dish-page-popout {
    position: absolute;
    top: 25vh;
    right: 5vw;
    width: 25%;
    box-sizing: border-box;
    border:#000000;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    margin: 1vh;
}

.dish-page-popout div {
    padding: 10px;
    margin-top: 2vh;
    margin-bottom: 5vh;
    border-bottom: 1px solid #89634a;
    width: 80%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}

.dish-page-popout h4 {
    font-size: 20px;
    display: inline;
    padding-left: 10px;
    opacity: .5;
    font-weight: 700;
    color:#6b4932;
    margin: 0;
}

.dish-page-popout p {
    font-size: 24px;
    display: inline-block;
    text-align: right;
    padding: 0;
    margin: 0;
}

.dish-page-ingredients-container {
    position: relative;
    left: 5%;
    border-radius: 20px;
    border-style: solid;
    padding: 10px;
    border-width: 2px;
    border-color: #89634a;
    margin-top: 10vh;
    width: 90%;
}

.dish-page-ingredients-container h2 {
    position: relative;
    left: 1vw;
}

.green-box {
    background-color: #00ff00;
    width: 20px;
    height: 20px;
    border-style: solid;
    border-width: 1px;
    border: black;
    display: inline-block;
    position: relative;
    top: 5px;
}

.ingr-key-p {
    display: inline-block;
    margin-left: 10px;
}

.ingr-key {
    position: absolute;
    top: 1vh;
    right: 3vw;
}

.large {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.dish-desc-num {
    font-family:"Inter", sans-serif;
    font-size: 40px;
    width: 3%;
    font-weight: bold;
    color: #89634a;
    opacity: .5;
    display: inline-block;
    position: relative;
    font-weight: 700;
    line-height: 30px;
    margin: 1vh;
}

.dish-desc-item {
    font-size: 20px;
    display: inline-block;
    width: 90%;
    padding-left: 1%;
    margin: 1vh;
}

.dish-page-info {
    position: relative;
    width: 65%;
    margin-top: 10vh;
    min-height: 80vh;
    margin-bottom: 10vh;
}

.dish-page-instructions-container {
    position: relative;
    left: 3%;
}

.dish-page-instructions-container h1 {
    left: 3%;
}

.dish-page-styles-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.stylebutton {
    border-radius: 20px;
    padding: 10px;
    font-weight: 700;
    margin: 0;
    margin-right: .5vw;
}

.source-btn-container a {
    text-decoration: none;
    color: white;
    display:block;
    width: 100%;
    text-align: center;
    margin-bottom: 4vh;
    font-size: 20px;
    cursor: pointer;
}