.dishes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dish {
    width: calc(25% - 10px); /* Adjusted width for two columns */
    margin-bottom: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Ensures padding is included in width */
}

.dish h2 {
    margin: 0;
    font-size: 20px;
    color: #333;
}

.dish h3 {
    margin-top: 15px;
    font-size: 18px;
    color: #555;
}

.dish p {
    color: #666;
}

.dish ul {
    padding: 0;
    list-style-type: none;
}

.dish ul li {
    font-size: 16px;
    color: #444;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.loading {
    font-size: 30px;
    font-weight: bold;
    color: #333; /* You can adjust the color */
    text-align: center;
    margin-top: 20px; /* Adjust the margin as needed */
  }
  