.dishes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dish {
    width: calc(25% - 10px);
    margin-bottom: 20px;
    background-color: #89634a;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    overflow: hidden;
    height: 400px;
    position: relative;
    cursor: pointer;
}

@media only screen and (max-width: 1300px) {
    .dish {
        width: calc(33% - 10px);
    }
}

@media only screen and (max-width: 900px) {
    .dish {
        width: calc(50% - 10px);
    }
}

.dish-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    left: 0;
    top: 0;
    position: relative;
}

.dish:hover .dish-img {
    opacity: 0.25;
    transition: opacity 0.3s ease;
}

.dish:hover .ingredients-div{
    opacity: 1;
    transition: opacity 0.5s ease;
}

.dish:hover .food-style-div {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.dish:hover .src-btn {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.dish:hover .dish-title {
    background-color: transparent;
    transition: 0.5s ease;
}

.ingredients-div {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
}

.dish-subtitle {
    color: #000000;
    margin-top: 15px;
    font-size: 18px;
}

.food-style-div {
    position: absolute;
    top: 225px;
    left: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
}

.dish-title {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 10px;
    z-index: 1;
    background-color: rgba(137, 99, 74, 0.9);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 5px;
    width: 92.5%;
    margin: 0;
    font-size: 20px;
}

.dish ul {
    padding: 0;
    list-style-type: none;
}

.dish ul li {
    font-size: 16px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    background-color: #89634a;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}


.btn:hover {
    background-color: #6b4932;
    color: white;
    transition: 0.3s ease;
}

.loading {
    font-size: 30px;
    font-weight: bold;
    color: #333; /* You can adjust the color */
    text-align: center;
    margin-top: 20px; /* Adjust the margin as needed */
}

.src-btn {
    position: absolute;
    bottom: 20px;
    right: 10px;
    z-index: 2;
    opacity: 0;
}

/* dish page */
.dish-page-title {
    color:black;
}