.fs-item {
    width: calc(14.28% - 10px);
    margin: 5px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.fs-item-li {
    margin: 5px;
    padding: 5px;
    background-color: #bebebe;
    border-radius: 5px;
}

.dish-styles {
    display: flex;
    flex-wrap: wrap;
}


.fs-item h2 {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.fs-container {
    display: flex;
    flex-wrap: wrap;
}

.fs-items-container {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    background-color: #ffe990; /* Yellow */
}

.cuisine {
    background-color: #ff87eb; /* Purple */
}

.holiday {
    background-color: #ffa4a4; /* Red */
}

.food_type {
    background-color: #b2d5f8; /* Blue */
}
