.footer-container {
    background-color: #333;
    color: white;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-text {
    width: 30%;
    text-align: justify;
}

.footer-top {
    position: relative;
    padding: 5vh;
}

.left-footer-container {

}

.copyright-container {
    text-align: center;
    /* border-top:#000000;
    border-radius: 1px; */
}