.ingredients-container {
    display: flex;
    flex-wrap: wrap;
}

.ingredients-item {
    width: calc(20% - 20px);
    margin: 5px;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
}

.ingredients-item-li {
    margin: 5px;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 5px;
}

.dish-ingredients {
    display: flex;
    flex-wrap: wrap;
}

.ingredients-item:hover {
    background-color: #e0e0e0;
}

.ingredients-item h2 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.green {
    background-color: #00ff00;
}

.green:hover {
    background-color: #00dd00;
}