nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: red;
    padding: 1rem;
}

.logo h1 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

ul.left-links li, ul.right-links li{
    margin-right: 1rem;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color:gray;
}
