nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* color: #d4b783; */
    color: #89634a;
    padding: 1rem;
}

body {
    background-color: #d4b783;
}

.logo h1 {
    margin: 0;
    position: relative;
    left: 50px;
    display: inline-block;
}

.cookie-logo {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 10px;
    top: 15px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

ul.left-links li, ul.right-links li{
    margin-right: 1rem;
}

a {
    text-decoration: none;
    color: black;
}
