.register-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 50px;
    padding-top: 20px;
    border: 1px solid #000000;
    border-radius: 15px;
}

.register-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.register-form {
    display: flex;
    flex-direction: column;
}

.register-form input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.register-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #89634a;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.register-form label {
    font-size: 18px;
    font-weight: 600;
}

.register-form button:hover {
    background-color: rgb(0, 0, 0);

}
