@font-face {
    font-family: 'lemonmilk';
    src: url('./assets/fonts/lemonmilkr.otf');
}

h1, h2, h3, h4, h5, a, input {
    font-family:"Inter", sans-serif;
    font-weight: 700;
    font-style: bold;
}

.logo-name {
    font-family: "Permanent Marker", cursive;
}

p, ul, li {
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: #d4b783;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #d4b783;
}

body::-webkit-scrollbar-thumb {
    background: #89634a;
    border-radius: 10px;
}

.big-container {
    position: relative;
    min-height: 100vh;
}